main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-parent {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  padding: 20px;

  width: 1100px;

  border-radius: 40px;
  border: 2px solid #cc313d;
}

#div-inputs {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 16px;
}

#div-inputs input {
  /* get rid of default */
  -webkit-appearance: none;
  appearance: none;

  height: 5px;
  width: 100%;

  background: #f7c5cc;

  opacity: 0.7;

  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#div-inputs input:hover {
  opacity: 1;
}

#div-inputs input::-webkit-slider-thumb {
  cursor: pointer;

  background: #cc313d;
}

#div-inputs input::-moz-range-thumb {
  cursor: pointer;

  background: #cc313d;
}

#div-inputs button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  margin-inline: 10px;

  height: 40px;
  width: 120px;

  border-radius: 20px;
  border: 2px solid #cc313d;

  text-decoration: none;
  color: #f7c5cc;
  font-size: 16px;
  font-weight: bold;

  background: #cc313d;
}

#div-inputs button:hover {
  cursor: pointer;

  color: #cc313d;

  background: #f7c5cc;
}
