/* GLOBAL */
.animation-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 1rem;
  width: 100%;
  margin-top: 0.75rem;

  border-radius: 1rem;

  background: var(--color-3);
}

/* BUTTONS */
.canvas-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  width: 100%;
  margin-top: 1rem;
}

.canvas-button {
  text-decoration: none;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 0.25rem;
  width: 12.5rem;

  border-radius: 1rem;
  border: 0;

  color: var(--color-4);
  background: var(--color-2);
  font-size: 1rem;
  font-weight: bold;
}

.canvas-button:hover {
  cursor: pointer;

  color: var(--color-2);
  background: var(--color-4);
}

/* SLIDERS */
.canvas-sliders {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  margin-top: 1rem;
  width: 95%;
  padding: 0.25rem;
  padding-inline: 1rem;

  border-radius: 1rem;

  opacity: 50%;
  transition: opacity 0.25s ease-in-out;

  background: var(--color-2);
  font-weight: bold;
  color: var(--color-4);
}

.canvas-sliders:hover {
  opacity: 100%;
  transition: opacity 0.25s ease-in-out;
}

.canvas-slider {
  /* get rid of default */
  -webkit-appearance: none;
  appearance: none;

  height: 0.25rem;
  width: 90%;

  border-radius: 1rem;

  background: var(--color-4);
}

.canvas-slider::-webkit-slider-thumb {
  cursor: pointer;
}

.canvas-slider::-moz-range-thumb {
  cursor: pointer;
}
