/* global */

.animation-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.75rem;

	padding: 0.75rem;
	width: 100%;

	border-radius: 0.4rem;

	background: var(--card);
	color: var(--card-foreground);
}

/* buttons */

.canvas-buttons {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap: 0.75rem;

	width: 100%;
}

.canvas-button {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0.25rem;
	padding-inline: 1rem;
	width: 100%;
	height: 2rem;

	border: none;
	border-radius: 0.4rem;

	color: var(--secondary-foreground);
	background: var(--secondary);
	font-weight: bold;
	font-size: 1rem;
}

.canvas-button:hover {
	cursor: pointer;

	color: var(--accent-foreground);
	background: var(--accent);
}

/* sliders */

.canvas-sliders {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	gap: 0.75rem;

	width: 100%;

	font-weight: bold;
}

.canvas-sliders span {
	width: 20%;
}

.canvas-slider {
	/* get rid of default */
	-webkit-appearance: none;
	appearance: none;

	height: 0.25rem;
	width: 100%;

	border-radius: 1rem;

	background: var(--secondary);
}

.canvas-slider:hover {
	background: var(--accent);
}

.canvas-slider::-webkit-slider-thumb {
	cursor: pointer;
}

.canvas-slider::-moz-range-thumb {
	cursor: pointer;
}
