/* GLOBAL */
.code-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;
  width: 100%;
  margin-top: 0.75rem;

  border-radius: 1rem;

  background: var(--color-3);
  color: var(--color-2);
}

/* HEADING */
.code-section h2 {
  margin: 0;

  text-align: center;
}

/* BUTTONS */
.code-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  width: 100%;
  margin-top: 1rem;
}

.code-buttons button {
  width: 16%;
  height: 3rem;

  border: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-2);
}

.code-buttons button:hover {
  background-color: var(--color-4);
}

/* activated button */
.code-buttons-activated {
  pointer-events: none;
  cursor: default;

  background-color: var(--color-5) !important;
}

.code-buttons button:first-child {
  border-top-left-radius: 1rem;
}

.code-buttons button:last-child {
  border-top-right-radius: 1rem;
}

.code-buttons button:hover {
  cursor: pointer;
}

/* code images */
#code-button-javascript {
  background-image: url("../../assets/images/languages/icons8-javascript-48.png");
}
#code-button-java {
  background-image: url("../../assets/images/languages/icons8-java-48.png");
}
#code-button-python {
  background-image: url("../../assets/images/languages/icons8-python-48.png");
}
#code-button-c {
  background-image: url("../../assets/images/languages/icons8-c-48.png");
}
#code-button-cpp {
  background-image: url("../../assets/images/languages/icons8-c++-48.png");
}
#code-button-csharp {
  background-image: url("../../assets/images/languages/icons8-csharp-48.png");
}

/* DISPAY IMPLEMENTATION */
pre {
  margin: 0;
  display: flex;
  justify-content: center;

  width: 100%;

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  background: var(--color-5);
  color: var(--color-4);
}
code {
  padding: 2rem !important;

  background: var(--color-5) !important;
}
