.subpage-switcher {
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	width: var(--width-global);
}

#subpage-name {
	text-align: center;

	width: 12rem;

	color: var(--background-foreground);
}

.subpage-switcher button {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0.25rem;
	padding-inline: 1rem;
	width: 4rem;
	height: 2rem;

	border: none;
	border-radius: 0.4rem;

	color: var(--secondary-foreground);
	background: var(--secondary);
	font-weight: bold;
	font-size: 1rem;
}

.subpage-switcher button:hover {
	cursor: pointer;

	color: var(--accent-foreground);
	background: var(--accent);
}
