.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: var(--width-global);
	height: 3rem;

	color: var(--foreground);
}

.footer-left {
	padding-inline: 1rem;
}

.footer-right {
	float: right;

	padding-inline: 1rem;
}

.footer-left a {
	text-decoration: none;

	color: var(--primary);

	font-weight: bold;
}

/* sm */
@media (max-width: 640px) {
	.footer {
		flex-direction: column;
		align-items: center;
	}

	.footer-left {
		margin-bottom: 0.5rem;
	}

	.footer-right {
		margin-top: 0.5rem;
	}
}
