/* VARIABLES */
body {
  --color-1: #b300ff;
  --color-2: #deacf5;
  --color-3: #545454;
  --color-4: #2f2f2f;

  --font: Helvetica;
}

/* STANDARD */
/* 1. position */
/* 2. size */
/* 3. margin/padding */
/* 4. border */
/* 5. color */
/* 6. font */

body {
  background: var(--color-4);

  font-family: var(--font);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;

  color: var(--color-2);
}
