.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: var(--width-global);
  padding: 1rem;

  border-radius: 1rem;

  background: var(--color-1);
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  text-align: center;

  padding: 0.25rem;
  width: 12.5rem;

  border-radius: 1rem;

  color: var(--color-4);
  background: var(--color-2);
}

.navbar a:hover {
  cursor: pointer;

  color: var(--color-2);
  background: var(--color-4);
}

/* DROPDOWN MENU */
.navbar-dropdown {
  text-decoration: none;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 0.25rem;
  width: 12.5rem;

  color: var(--color-2);
  background: var(--color-4);
}

.navbar-dropdown:hover .navbar-dropdown-menu {
  max-height: 100%;
  transition: max-height 0.5s ease-in;
}

.navbar-dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;

  margin-top: 1.5rem;
}

.navbar-dropdown-menu a {
  border-radius: 0;
}

.navbar-dropdown-menu a:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* ACTIVE LINK */
.navbar-active-link {
  opacity: 75%;
}

.navbar-active-link:hover {
  cursor: default !important;

  background: var(--color-2) !important;
  color: var(--color-4) !important;
}
