.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: var(--width-global);
  padding: 1rem;

  border-radius: 1rem;

  background: var(--color-1);
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  text-align: center;

  padding: 0.25rem;
  width: 12.5rem;

  color: var(--color-4);
  background: var(--color-2);
  font-size: 1rem;
}

#home-link {
  border-radius: 1rem;
}

#home-link:hover {
  color: var(--color-2);
  background: var(--color-4);
}

.navbar-dropdown {
  text-decoration: none;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 0.25rem;
  width: 12.5rem;

  border-radius: 1rem;

  color: var(--color-4);
  background: var(--color-2);
  font-size: 1rem;
}

.navbar-dropdown:hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  color: var(--color-2);
  background: var(--color-4);
}

.navbar-dropdown-menu a:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navbar-dropdown:hover .navbar-dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;

  margin-top: 1.4rem;
}

.navbar-dropdown-menu {
  display: none;
}

.navbar-dropdown-menu a:hover {
  cursor: pointer;

  color: var(--color-2);
  background: var(--color-4);
}
