.overview-section {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  width: 100%;
  margin-top: 0.75rem;

  border-radius: 1rem;

  background: var(--color-3);
  color: var(--color-5);
  font-weight: bold;
}

.overview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-inline: 2rem;
}

.overview-container p {
  text-align: center;
}

.welcome-section {
  padding: 1rem;
  width: 100%;
  margin-top: 0.75rem;

  border-radius: 1rem;

  background: var(--color-3);
  color: var(--color-2);
}

.welcome-section p {
  color: var(--color-5);
}
