.overview-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 1rem;
  width: 100%;
  margin-top: 0.75rem;

  border-radius: 1rem;

  background: var(--color-3);
  color: var(--color-5);
  font-weight: bold;
}

.overview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 12.5rem;
  margin-inline: 2rem;
}

.overview-container img {
  height: 100px;
}

.overview-container p {
  margin: 0;

  text-align: center;
}

.welcome-section {
  display: flex;
  justify-content: space-between;

  width: calc(100% + 2rem);
  margin-top: 0.75rem;

  color: var(--color-2);
}

.welcome-section p {
  text-align: justify;

  color: var(--color-5);
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: calc(49% - 2rem);
  padding: 1rem;
  border-radius: 1rem;

  background: var(--color-3);
}

.welcome-container h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}

@media (max-width: 540px) {
  .overview-section {
    flex-direction: column;
  }

  .overview-container {
    margin-inline: 0;
  }

  .welcome-section {
    flex-direction: column;
  }

  .welcome-container {
    width: calc(100% - 2rem);
    margin-top: 0.75rem;
  }
}
