.welcome-section {
	display: flex;
	gap: 1rem;

	width: 100%;
}

.welcome-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	padding: 0.75rem;

	border-radius: 0.4rem;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);

	background: var(--card);
	color: var(--card-foreground);
}

.welcome-container h3 {
	padding-bottom: 0.5rem;

	border-bottom: 4px solid var(--border);
}

.welcome-container p {
	font-size: 0.75rem;
}

/* sm */
@media (max-width: 640px) {
	.welcome-section {
		flex-direction: column;
	}
}
